
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="register">
        <h1>
            ĐẶT HÀNG THÀNG CÔNG. <br />
            <span> Chân thành cảm ơn quý khách đã tin tưởng Puppy Store! </span>
        </h1> 
        <div style="height: 170px"> </div>
    </div> 
</div>

