

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> PetStore Admin </title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Assets/Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/Assets/Admin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Assets/Admin/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="~/Assets/Admin/vendor/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Assets/Admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    

</head>
<body>
    <div id="wrapper">
        @RenderPage("_Navigation.cshtml")

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10">
                        <h1 class="page-header"> @RenderSection("header", required: false) </h1>
                    </div>
                </div>

                @RenderBody()
               
            </div>
          
           

        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Assets/Admin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Assets/Admin/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <!-- CK -->
    <script src="~/Assets/Admin/js/plugins/ckfinder/ckfinder.js"></script>
    <script src="~/Assets/Admin/js/plugins/ckeditor/ckeditor.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Assets/Admin/dist/js/sb-admin-2.js"></script>

    @RenderSection("JSFooter", required: false);
</body>
</html>

