
@{
    ViewBag.Title = "RegisterSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-push-6 text-center">
           <h2 class="alert alert-success" > Đăng Ký thành công! </h2>
        </div> 
    </div> 
</div>

