@model Domain.EF.Footer

<div class="footer">
    <div class="container">
        <div class="footer-top-at">
            <div class="col-md-4 amet-sed">
                <h4> THÔNG TIN THÊM  </h4>
                <ul class="nav-bottom">
                    <li><a href="#"> Cách đặt hàng </a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="contact.html"> Địa chỉ </a></li>
                    <li><a href="#"> Giao hàng </a></li>
                    <li><a href="#"> Thành viên </a></li>
                </ul>
            </div>
            <div class="col-md-4 amet-sed ">
                <h4> LIÊN HỆ </h4>
                <p>
                    Team bán chó dạo khắp Sài Gòn 
                </p>
                <p> </p>
                <p>Điện thoại:  +84 906 876 146 </p>
                <ul class="social">
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i class="twitter"> </i></a></li>
                    <li><a href="#"><i class="rss"> </i></a></li>
                    <li><a href="#"><i class="gmail"> </i></a></li>
                </ul>
            </div>
            <div class="col-md-4 amet-sed">
                <h4> TIN MỚI</h4>
                <p>
                   Đăng ký Email để nhận thông tin thú cưng mới nhất.
                </p>
                <form>
                    <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                    <input type="submit" value="Đăng Ký">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer-class">
        <p>© 2016 Bản quyền thuộc Puppy Store | Thiết kế bởi <a href="/" target="_blank"> SMLTEAM </a> </p>
    </div>
</div>


